@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 50, 30, 20;
  --background-start-rgb: 255, 248, 240;
  --background-end-rgb: 255, 235, 215;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 235, 215;
    --background-start-rgb: 70, 40, 30;
    --background-end-rgb: 50, 30, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}